<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>200Assist</title>
    <!-- css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- iscdones -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <style>
        .branquinho {
            color: #ccc;
        }

    </style>
</head>
<body>
    <header class="border-bottom">
        <nav class="navbar navbar-dark bg-dark px-2 flex-nowrap">

            <button class="btn btn-outline-secondary me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="#sideMenu">
                <i class="bi bi-list"></i>
            </button>

            <form class="d-flex flex-grow-1 mx-3">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            </form>

            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-outline-light me-2"><i class="bi bi-heart-fill"></i></a>
                <a href="#" class="btn btn-outline-light"><i class="bi bi-person-circle"></i></a>
            </div>
        </nav>


        <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="sideMenu" aria-labelledby="#sideMenuLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="sideMenuLabel">200Assist</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="list-unstyled">
                    <li><a href="#home" class="text-decoration-none d-block py-2 text-light">Home</a></li>
                    <li><a href="#register" class="text-decoration-none d-block py-2 text-light">Registrar</a></li>
                    <li><a href="#login" class="text-decoration-none d-block py-2 text-light">Login</a></li>
                    <li><a href="#account" class="text-decoration-none d-block py-2 text-light">Conta</a></li>
                    <li><a href="#services" class="text-decoration-none d-block py-2 text-light">Serviços</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>

        <section class="container-fluid bg-dark py-3 pb-2">
            <div id="carouselMain" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container px-5">
                            <div class="row bg-dark text-light px-5 align-items-center">

                                <div class="col-8 text-center">
                                    <h1>Assitencia técnica de confiança!</h1>
                                    <p><span class="text-success">Celulares, notebooks, tablets,</span> e muito mais, seus aparelhos como novos!</p>
                                </div>
                                <div class="col-auto justify-content-center">
                                    <img src="../static/img/seila.png" style="height: 40vh;" alt="não sei que porra é essa">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-5">
                            <div class="row bg-dark text-light px-5 align-items-center">

                                <div class="col-8 col-12-sm text-center">
                                    <h1>Cuidamos da sua casa!</h1>
                                    <p>Consertamos o que faz parte da sua rotina, reparo rápido e seguro para seus <span class="text-success">eletrodomésticos</span>.</p>
                                </div>
                                <div class="col-auto justify-content-center text-center">
                                    <img src="../static/img/casa.png" style="height: 40vh;" alt="não sei que porra é essa">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-5">
                            <div class="row bg-dark text-light px-5 align-items-center">

                                <div class="col-7 col-12-sm text-center">
                                    <h1>Equipe especializada!</h1>
                                    <p>Profissionais treinados para oferecer qualidade e confiança. Especialistas em cuidar do que é seu!</p>
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <img src="../static/img/arrombado33.png" style="height: 10vh1;" alt="Mascote">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto justify-content-center">
                                    <img src="../static/img/mulher-telemarketing.png" style="height: 40vh;" alt="não sei que porra é essa">
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="carousel-item">
                        <div class="container px-5">
                            <div class="row bg-dark text-light px-5 align-items-center">

                                <div class="col-8 col-12-sm text-center">
                                    <h1>Serviços com <span class="text-primary">garantia</span></h1>
                                    <p>Rapidez, transparência e suporte dedicado<br>Garantia do seus aparelhos de 7 - 60 dias.</p>
                                </div>
                                <div class="col-auto justify-content-center">
                                    <img src="../static/img/cadeado-escudo.png" style="height: 40vh;" alt="não sei que porra é essa">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMain" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#carouselMain" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
            </div>
        </section>

        <section class="container-lg pt-2" id="pcFeatured"> <!-- Featured -->
            <div class="row bg-dark rounded-3 pb-2">
                <div class="row text-light">
                    <h2>Serviços mais frequentes</h2>
                </div>

                <span class="col-10 col-md-2 bg-light rounded-3 py-3 ms-4 mb-3">
                    <div class="row">
                        <p>Troca de pelicula</p>
                        <img src="../static/img/cartao.png" alt="">
                        <br>
                    </div>
                </span>

                <span class="col-10 col-md-2 bg-light rounded-3 py-3 ms-4 mb-3">
                    <div class="row">
                        <p>Troca de tela</p>
                        <img src="../static/img/cartao.png" alt="">
                        <br>
                    </div>
                </span>

                <span class="col-10 col-md-2 bg-light rounded-3 py-3 ms-4 mb-3">
                    <div class="row">
                        <p>Instalação de programas de computador</p>
                        <img src="../static/img/cartao.png" alt="">
                        <br>
                    </div>
                </span>

                <span class="col-10 col-md-2 bg-light rounded-3 py-3 ms-4 pr-1 mb-3">
                    <div class="row">
                        <p>Concerto de máquina de lavar</p>
                        <img src="../static/img/cartao.png" alt="">
                        <br>
                    </div>
                </span>

                <span class="col-10 col-md-2 bg-light rounded-3 py-3 ms-4 mb-3">
                    <div class="row">
                        <p>Troca de bateria</p>
                        <img src="../static/img/cartao.png" alt="">
                        <br>
                    </div>
                </span>



            </div>
        </section>

        <section class="container my-3"> <!--Offers -->
            <div class="row overflow-x-auto flex-nowrap">
                <div class="col-2 rounded-3 bg-dark py-2 px-3">
                    <div class="row rounded-3 bg-light text-center py-4">
                        <h3>Ofertas</h3>
                        <div class="col-12 text-center">
                            <img class="mx-auto d-block" src="../static/img/desconto.webp" style="height: 10vh;" alt="Oferta">
                        </div>
                    </div>
                </div>

                <div class="col-auto rounded-3 bg-dark py-2 px-3 ms-4">
                    <div class="row text-light">
                        <h4>Eletrodomésticos</h4>
                        <div class="col-4 rounded-3 bg-light">
                            <div class="row">
                                <img src="../static/img/batedeira.webp" alt="batedeira">
                                <a href="#batedeira">Batedeira</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section> 


    </main>
    <footer class="bg-dark text-white">
        
        <div class="row pt-2 mt-2">
            <div class="col-1"></div>
            <div class="col-9">
                <h5>Sobre nossa loja</h5>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">
                        <p class="branquinho">O 200Assist é uma loja que busca inovar no ramo de assistência tecna. Buscamos trazer praticidade para população ao ter algum problema com seus aparelhos, de uma maneira intuitivas, de qualidade e inclusivo para a maioria das pessoas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Formas de pagamento</h3>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/cartao.png" alt="Cartão de crédito" style="height: 10vh;">
                        </div>
                        <div class="col-auto">
                            <h5>Cartão de crédito</h5>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-auto">
                <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/pix.png" alt="Pix" style="height: 10vh;">
                        </div>
                        <div class="col-auto">
                            <h5>Pix</h5>
                        </div>
                    </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row pb-3">
            <div class="col-lg-1"></div>
            <div class="col-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img src="../static/img/cartao2.png" alt="Cartão de débito" style="height: 10vh;">
                        </div>
                        <div class="col-auto">
                            <h5>Cartão de débito</h5>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-auto">
                <div class="row align-items-center">
                        <div class="col-auto">
                             <img src="../static/img/upc-scan.svg" alt="Cartão de crédito" style="height: 10vh;">
                        </div>
                        <div class="col-auto">
                            <h5>Boleto Bancário</h5>
                        </div>
                    
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row bg-light justify-content-between align-items-center mb-2">
            <div class="row mx-2">
                <div class="col-auto text-dark">
                    © 2025 200Assist Todos direitos reservados.
                </div>
                <div class="col-auto">
                    <a href="#termos">Termos de condição</a>
                </div>
                <div class="col-auto">
                    <a href="#termos">Termos de privacidade</a>
                </div>
            </div>
        </div>

    </footer>


  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
